<% provide(:title, "Log in") %>

<div class="wrapper">
  <div class="login">
    <div>
      <h1>Hey, Please Log In !</h1>
      <h4>Hi, thank you for visiting Vocamy. 
      This service is developed as a sample work by <a>Hirokuni Honda</a> who are trying to be a frontend developer.
      Before diving into the world of lyrics, please log in.</h4>
    </div>
    <div class="input">
      <%= form_for(:session, url: login_path) do |f| %>
        <div class="input_form">
            <%= f.label :email %>
            <%= f.email_field :email %> 
        </div>
        <div class="input_form">
            <%= f.label :password %>
            <%= f.password_field :password %>
        </div>
    </div>
    <div class="other">
      <div>
        <%= f.label :remember_me, class: "" do %>
        <%= f.check_box :remember_me %>
        <span>アカウント情報を保存する</span>
        <% end %>
      </div>
      <div class="button">
        <%= f.submit "Log in", class: "button" %>
      </div>
      <% end %>
      <div>
        <p>New user? Let's <%= link_to "sign up now!", signup_path %></p>
      </div>
    </div>
  </div>

  <div class="sampleid">
    <h5>サンプルアカウントは下記になります。<br>
    Email: hirokuni0719@aol.com <br>
    Password: nikurohi<br>
    </h5>
  </div>
</div>
