<% provide(:title, "Edit user") %>

<div class="useredit">
  <div id="useredittitle">
    UPDATE ACCOUNT info
  </div>
  <div id="usereditname">
    <h1>
      💫&nbsp;&nbsp;<%= @user.name %>
    </h1>
  </div>
  <div class="usereditform">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>
      <div>
        <%= f.label :name %>&nbsp;&nbsp;
        <%= f.text_field :name %>
      </div>
      <div>
        <%= f.label :email %>&nbsp;&nbsp;
        <%= f.email_field :email %>
      </div>
      <div>
        <%= f.label :password %>&nbsp;&nbsp;
        <%= f.password_field :password %>
      </div>
      <div>
        <%= f.label :password_confirmation, "Confirmation" %>&nbsp;&nbsp;
        <%= f.password_field :password_confirmation %>
      </div>
      <div id="button">
        <%= f.submit "Save changes" %>
      </div>
    <% end %>
  </div>
</div>