<!DOCTYPE html>
<html>
  <head>
    <title>Vocamy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Karla|Baloo|Pacifico|Kosugi+Maru|Source+Sans+Pro:400,600i" rel="stylesheet">

  </head>

  <body>
    <div class='main-wrapper'>
      <div class="header-container">
      <%= render 'vocamy/shared/topbar' %>
      <%= render 'vocamy/shared/navbar', user: @user, vocas: @vocas %>
      </div>
      <div class="content">
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
        <%= yield %>
      </div>
    <%= render 'vocamy/shared/footer' %>
    <%= debug(params) if Rails.env.development? %>
    </div>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
